 <h1> hello hi</h1>
<!-- <h2 *ngFor="let dhr of bank">
    <div *ngIf=" dhr%2==0; else elseBlock;" [ngStyle]="{'color':'red'}">
{{dhr}}
    </div>
<ng-template #elseBlock [ngStyle]="{'color':'green'}">
{{dhr}}
</ng-template>
</h2> -->

<!-- <div *ngFor="let dhr of bank">

    <h2 [ngStyle]="{'color':'green'}" *ngIf="dhr%2==0; else elseBlock" >{{dhr}}</h2>

    <ng-template  #elseBlock>
      <h2 [ngStyle]="{'color':'red'}">{{dhr}}</h2>  
    </ng-template>
</div> -->

 <!-- <div  *ngFor="let value of bank">

<h2 [ngClass]="'even'" *ngIf="value%2==0; else elseBlock">
{{value}}
</h2>

<ng-template #elseBlock>
<h2 [ngClass]="'odd'">
    {{value}}
</h2>

</ng-template>

</div>  -->

<!-- <div  *ngFor="let value of bid">
    {{value}}
</div> -->


 <div  *ngFor="let value of bid">
    {{value}}
</div> 
<div  *ngFor="let values of bname">
    {{values}}
</div> 